<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <script type="module">
    import h from './h.js'
    const a = h('div', { class: '1'}, '字符串')
    const b = h('div', { class: '2'}, h('span', {}, 'span1'))
    const c = h('div', { class: '3'}, [h('span', {}, 'span1')])
    console.log(a,b,c)
  </script>
</body>
</html>